.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
  padding: 2rem;
  text-align: center;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  width: 50%;
  height: 50%;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #aaa;
  margin: 0;
  letter-spacing: 0.1em;
}

.welcome {
  font-size: 2rem;
  color: white;
  margin: 0;
}
