body {
  background-color: #292929;
}

html, body {
  height: 100%;
  margin: 0;
}

.background {
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/darkmode.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-light {
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/lightmode.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}