.pokedexHeader{
    text-align: center;
    color: darkgoldenrod;
}

.pokedexContainer {
  padding: 20px;
}

.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.pokemonCard {
  border: 2px solid #333;
  border-radius: 8px;
  border-color: red;
  padding: 15px;
  width: 200px;
  background-color: silver;
}