.background {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('../../assets/darkmode.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.pokedexHeader{
    text-align: center;
    color: darkgoldenrod;
}

.pokemonContainer{
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2 equal columns */
  gap: 10px;
}

.pokemonGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.pokemonDetails{
  background-color: silver;
  overflow: scroll;
  max-height: 600px;
  border: 2px solid;
  border-radius: 16px;
  border-color: red;
}

.pokemonCard {
  border: 2px solid;
  border-radius: 16px;
  border-color: red;
  padding: 15px;
  width: 200px;
  max-height: 200px;
  background-color: silver;
}